header h2 a {
	color: #AAAAAA;
	text-decoration: none;
}

header h2 a:link {
    color: #AAAAAA;
    text-decoration: none;
}

header h2 a:visited {
    color: #AAAAAA;
    text-decoration: none;
}

header h2 a:hover {
    color: #AAAAAA;
    text-decoration: underline;
}

header h2 a:active {
    color: #AAAAAA;
    text-decoration: none;
}

@media only screen and (min-width: 550px) {
    form fieldset input {
        position: relative;
        top: 4px;
    }
}

header[role="banner"] {
    background-color: rgba(0,0,0,0);
}

canvas[id="canvas"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
