header h2 a {
	color: #AAAAAA;
	text-decoration: none;
}

header h2 a:link {
    color: #AAAAAA;
    text-decoration: none;
}

header h2 a:visited {
    color: #AAAAAA;
    text-decoration: none;
}

header h2 a:hover {
    color: #AAAAAA;
    text-decoration: none;
}

header h2 a:active {
    color: #AAAAAA;
    text-decoration: none;
}
